@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243E63;
}

a {
    text-decoration: none;
}

.nav__link:hover, .nav__link--login:hover, .logo__link:hover, .menu__link:hover {
    text-decoration: underline 2px;
    color: rgb(100 21 255);
    text-underline-offset: 4px;
    transition: all 300ms ease;
    opacity: .8;
}

nav {
    height: 80px;
}

.logo__links {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo__link {
    font-size: 24px;
    font-weight: 900;
}

.fa-bars {
    background-color: transparent;
    color: #6415FF;
}

.nav__container {
    width: 100%;
    max-width: 1280px;
    padding: 28px 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.fade-in-element, .fade-in-element2 {
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in-element {
    transform: translateX(-300px);
}

.fade-in-element2 {
    transform: translateX(300px);
}

.fade-in-element.visible, .fade-in-element2.visible {
    opacity: 1;
    transform: translateX(0);
} 

.nav__links {
    display: flex;
}

.nav__link {
    padding-bottom: 4px;
    margin: 0 20px;
    font-size: 14px;
    font-weight: 600;
}

.nav__link--login {
    padding: 0 20px 0 48px;
    font-weight: 600;
    font-size: 14px;
}

.nav__link--signup {
    padding: 12px 32px;
    border: solid ;
    border-radius: 9999px;
    background-color: rgb(100, 21, 255);
    color: white;
    font-size: 14px;
    font-weight: 600;
}

li {
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    height: 40px;
    width: 40px;
}

.header__container {
    display: flex;
    padding: 52px;
    max-width: 1280px;
    margin: 0 auto;
    animation: fade-right 1000ms backwards;
    width: 100%;
}

.header__description {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}

h1 {
    padding: 16px 0 0 0;
    font-size: 48px;
}

.subtitle {
    font-size: 24px;
}

.subheading {
    font-size: 16px;
    color: #6415FF;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding: 0 0 16px 0;
}

p {
    padding: 16px 0;
    font-size: 18px;
    color:#7c8BA1
}

.purple--large {
    color: #6415FF;
}

.email__textbox {
    width: 90%;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 9999px;
    margin: 16px 8px 16px 0px;
}

input {
    border: none;
    display: flex;
    padding: 20px 0 16px 0;
    border-radius: 9999px;
    outline: none;
    margin: 8px 0px 8px 0;
    width: 100%;
}

.email__btn{
    width: 60%;
}

::placeholder{
    color: #CBD5E0;
    font-size: 16px;
    font-weight: 500;
}

input[type=email] {
    text-indent: 24px;
    font-weight: 700;
}

.purple__btn, .purple__btn--start, .value__purple__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(100, 21, 255);
    border-radius: 9999px;
    color: white;
    margin: 8px 8px 8px 0;
    border-width: 0;
    font-weight: 700;
}

.purple__btn--start {
    margin: 8px;
    padding: 20px 8px 20px 8px;
}

.purple__btn:hover, .nav__link--signup:hover, .purple__btn--start:hover, .menu__link--signup:hover, .value__purple__btn:hover {
    background-color: rgb(60, 13, 153);
    transition: all 600ms ease;
}

.customer__info {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    --tw-text-opacity: 1;
    color: rgb(160 174 192 / var(--tw-text-opacity));
}

.customer__info--img {
    width: 100%;
    opacity: .7;
}

figure {
    width: 60%;
}

.header__img, .img__wrapper, .testimonial__img {
    width: 100%;
}

.testimonial__img__wrapper, .img__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial__img__wrapper{
    padding: 32px;
}

.btn__menu {
    background-color: transparent;
    font-size: 24px;
    text-align: center;
    border: none;
    display: none;
}

.menu__backdrop {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 10;
    margin: 24px 16px;
    border-radius: 8px;
    border-width: 1px;
    background-color: rgb(255 255 255);
    padding: 32px;
    text-align: center;
    color: rgb(26 32 44);
    border-style: solid;
    border-color: rgb(226, 232, 240);
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu__link {
    color: #1A202C;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .4px;
}

.menu__link--signup {
    padding: 12px 32px;
    border: solid ;
    border-radius: 9999px;
    background-color: rgb(100, 21, 255);
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 12px 0 ;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 0 18px 4px 0;
}

/* FEATURES */

#features {
    padding: 80px 0 80px 0;
    max-width: 1024px;
    margin: 0 auto;
}

.features__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__para {
    text-align: center;
    width: 768px;
    font-size: 18px;
    color: #7c8BA1;
}

.feature__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100%/3);
    padding: 32px 8px;
}

.feature {
    display: flex;
    align-items: center;
}

.feature__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.features__text {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 0;
}

.feature__description {
    padding: 16px 0;
}

.feature__img {
    padding: 12px;
}

.imagecontainer {
    border-style: solid;
    border-width: 1px;
    border-radius: 9999px;
    padding: 28px 16px 12px 16px;
    border-color: rgb(226, 232, 240);
}

/* QUALITY WORK SECTION */

.qw__container {
    display: flex;
    padding-top: 36px;
}

.row__qw, .row__qw1 {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.qualitywork__text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 40px;
}

.screenshot, .screenshotwithborder {
    width: 100%;
    padding: 40px;
}

.screenshotwithborder {
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: rgb(226, 232, 240);
}

/* STEPS SECTION */

#steps {
    max-width: 1200px;
    padding: 96px 0 0 0;
    margin: 0 auto;
}

.steps__container {
    display: flex;
}

.steps__wrapper{
    display: flex;
    margin: 32px 0 0 0;
    width: 80%;
}

.number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(203 213 224)
}

.step {
    padding: 0 24px;
}

.subheading2, .subheading3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.8;
}

/* VALUES SECTION */

#values {
    max-width: 1200px;
    padding: 96px 32px;
    margin: 0 auto;
}

.values {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-right: 32px;
}

.value {
    width: 50%;
    padding-right: 16px;
    margin: 32px 0 0 0;  
}

.value__wrapper {
    display: flex;
}

.fa-dollar-sign {
    color:rgb(39 103 73);
    background-color: rgb(154 230 180);
    border-radius: 9999px;
    padding: 4px 8px;
}

.fa-suitcase {
    color:rgb(155 44 44);
    background-color: rgb(254 178 178);
    border-radius: 9999px;
    padding: 4px 5px;
}

/* PLANS SECTION */

#pricing {
    margin: 80px 0;
}

.plan__topper,.plan__topper3 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 12px;
    border: 1px solid white;
    border-bottom: 0px;
}

.plan__topper {
    background-image: linear-gradient(115deg, #3DB6B0 0%, #7BE1D5 100%);
}

.plan__topper3 {
    background-image: linear-gradient(115deg, #F66969 0%, #FEAEAD 100%);
}

.plan__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.plan__topper, .plan__topper2, .plan__topper3, .plan, .plan__details, .btn__container, .plan2, .plan__details2, .btn__container2, .plan3  {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.plan2, .plan__details2, .btn__container2 {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan2 {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 44px 0 32px 0;
    border-top: 0px;
}

.btn__container, .btn__container2 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.plan__wrapper {
    margin: 32px;
}

.plan, .plan3 {
    padding: 32px 0;
    border-top: 0px;
}

.plan__name, .plan__name2 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.plan__name2 {
    color: white;
}

.price, .price2 {
    font-size: 48px;
    font-weight: 700;
    padding-top: 16px;
}

.price2 {
    color: white;
}

.timing, .timing2 {
    font-weight: 700;
    letter-spacing: 0.1em;
    --tw-text-opacity: 1;
    color: rgb(160 174 192);
    text-transform: uppercase;
    padding-top: 16px;
}

.timing2 {
    color: white;
}

.plan__details, .plan__details2 {
    padding: 32px;
}

.plan__details, .plan__details2, .plan__details3 {
    border-top: 0px;
}

.maindetail, .maindetail2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-align: center;
}

.maindetail2 {
    color: white;
}

.subdetail, .subdetail2 {
    font-size: 16px;
    margin: 20px;
}

.subdetail {
    color: #718096;
}

.subdetail2 {
    color: white;
}

.btn__container, .btn__container2 {
    padding: 32px 64px;
}

.buy__btn, .buy__btn2, .buy__btn3, .get__started__btn {
    display: flex;
    align-items: center;
    padding: 16px 48px;
    border-radius: 9999px;
    border-color: transparent;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 700;
}

.buy__btn {
    color: #F7FAFC;
    background: linear-gradient(115deg, #3DB6B0 0%, #7BE1D5 100%);
    border: 0px;
}

.buy__btn2 {
    color: #6415FF;
    background-color: #F7FAFC;
    border: 0px;
}

.buy__btn3 {
    color: #F7FAFC;
    background:linear-gradient(115deg, #F66969 0%, #FEAEAD 100%);
    border: 0px;
}

.buy__btn:hover, .buy__btn2:hover, .buy__btn3:hover, .get__started__btn:hover, .contact__us__btn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    transition: all 300ms ease;
    transform: translateY(-2%);
}

.btn__container, .btn__container2 {
    border-top: 0px;
}

/* TESTIMONIALS */

.row__test {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
}

.testimonials {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 96px 16px 0 32px;
}

.client__ratings {
    color: #fabf2a; 
    padding: 24px 0 16px 0;
}

.client__pic {
    height: 80px;
    width: 80px;
    border-radius: 9999px;
}

.client {
    width: 100%;
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
}

.client__image {
    width: 100%;
}

.client__detail {
    display: flex;
    justify-content: center;
}

.subheading3 {
    text-align: center;
    display: flex;
    justify-content: center;
}

.fa-star {
    color:#fabf2a;
}

/* GET STARTED FOOTER SECTION */

#get__started__footer {
    display: flex;
    justify-content: center;
}

.get__started__footer--container {
    background-color: #6415FF;
    padding: 48px 160px;
    max-width: 1024px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 32px;
}

.btn__footer__container {
    display: flex;
    margin-left: 32px;
}

.get__started--link {
    color: #F8FAFC;
}

.get__started__btn {
    background-color: #F66969;
    margin-right: 32px;
    font-size: 14px;
}

.get__started__btn:hover {
    background-color: #E53E3E;
}

.contact__us__btn{
    border: 1px solid #A0AEC0;
    background-color: transparent;
    color: #F8FAFC;
}

.contact__us__btn:hover {
    background-color: #F7FAFC;
    color: #6415FF;
}
/* FOOTER */

.container__footer--links {
    background-color: rgb(100 21 255);
    width: 100vw;
    margin-top: 64px;
    padding: 0 32px;
}

.links {
    display: flex;
    justify-content: space-between;
}

.link {
    display: flex;
    flex-direction: column;
    margin: 48px 0 0 0;
}

h4 {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color:white;
    padding: 16px 0;
}

.footer__link {
    color: white;
    font-size: 14px;
    padding: 0 0 12px;
}

.footer__link:hover {
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    transition: all 300ms ease;
    opacity: .8;
    cursor: not-allowed;
}

.footer__logo {
    width: 32px;
    height: 32px;
    background-color: white;
    margin-left: 32px;
    border-radius: 2px;
}

.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    margin: 32px 0 0 0;
}

.footer__logogroup {
    display: flex;
    align-items: center;
}

h5 {
    font-size: 20px;
    margin: 0 0 0 8px;
    color: #F7FAFC;
}

.footer__rights {
    font-size: 15px;
    font-weight: 500;
    color: #CBD5E0;
    text-align: center;
}

.social__links {
    margin-right: 32px;
}

.fa-facebook, .fa-twitter, .fa-youtube {
    margin: 0 12px 0 0;
}

.fa-facebook {
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(247 250 252 / var(--tw-bg-opacity));
    padding: 8px 12px;
}

.fa-twitter, .fa-youtube {
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(247 250 252 / var(--tw-bg-opacity));
    padding: 8px;
}

.divider {
    border-style:none;
    background-color: #742DFF;
    height: 2px;
    width: auto;
    margin: 64px 32px;
}

.fa-twitter:hover, .fa-youtube:hover, .fa-facebook:hover {
    background-color: rgb(203 213 224 / var(--tw-bg-opacity));
    transition: all 300ms ease;
}

/* Value Change */

@media (max-width: 1165px) {

    .customer__info {
        font-size: 14px;
    }
    .value {
        display: flex;
        flex-direction: column;
    }
    .fa-dollar-sign, .fa-suitcase {
        height: 24px;
        width: 26px;
    }

    .input{
        padding: 0;
        margin: 0;
    }

    .email__textbox {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 18px 0 18px 0;
        width: 100%;
    }

    ::placeholder {
        padding: 0;
        margin: 0;
    }

    .get__started{
        width: 100%;
        position: relative;

    }
    .purple__btn--start {
        position: absolute;
        width: 100%;
        margin: 12px 0;
        justify-content: center;
        padding-left: 24px;
    }

    .customer__info{
        padding: 80px 0 0 0; 
    }

    .customer__info--img {
        padding-top: 12px;
    }

    .email__btn {
        width: 100%;
    }
}

/*PLAN WRAPPER RESPONSIVENESS */

@media (max-width: 1096px) {
    .plan__wrapper {
        width: 60%;
    }
}


/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 865px) {

    .customer__info {
        font-size: 16px;
    }

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .menu--open .menu__backdrop {
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 36px;
    }

    .header {
        width: 100%;
    }

    p, .subtitle, h1, .subheading, .subheading2, .values, .client__ratings {
        text-align: center;
    }

    .subtitle {
        font-size: 20px;
    }

    .header__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__description, .qualitywork__text, .values, .testimonials, .feature__para {
        width: 80%;
        align-items: center;
    }

    .values, .row__test, .qualitywork__text, .row__qw1  {
        padding: 32px 0;
    }

    .value__purple__btn, .purple__btn {
        margin: 0;
    }
    .subheading3, .client__detail  {
        padding: 8px 0 0 8px;
    }

    .client__detail {
        padding: 0;
    }

    .client {
        display: flex;
        flex-direction: column;
    }

    .client__image {
        display: flex;
        justify-content: center;
    }

    .customer__info {
        margin: 76px 0 0 0;
        padding: 0;
    }

    .feature__list {
        display: flex;
        flex-flow: column wrap;
    }

    .feature {
        display: flex;
        flex-direction: column;
    }

    .feature__wrapper {
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .feature__description {
        width: 100%;
    }

    .row__qw, .row__qw1 {
        display: flex;
        align-items: center;
    }

    .row__qw {
        flex-direction: column;
    }

    .row__qw1 {
        flex-direction: column-reverse;
    }

    .row__test {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .steps__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .getstarted {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .value__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .value {
        width: 80%;
        margin: 32px;
        padding: 0;
    }

    .values, .qualitywork__text {
        align-items: center;
    }

    .get__started__footer--container {
        flex-direction: column;
        text-align: center;
    }

    .btn__footer__container {
        margin: 32px 0;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 32px;
    }

    .link {
        align-items: center;
        width: calc(100%/3);
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__logo, .social__links {
        margin: 0;
    }

    .footer__rights {
        margin: 12px 0;
    }

    .img_wrapper {
        width: 100%;
        padding: 4px 0 0 0;
    }

    .screenshotwithborder {
        width: 100%;
    }

    #values, #features, #pricing, .header__container, .testimonials {
        padding: 32px 0 0 0;
        margin: 0;
    }

    #steps, .qw__container {
        padding: 0;
    }

    .feature__btn {
        margin: 0px;
    }

    .fa-dollar-sign, .fa-suitcase {
        margin: 0 auto;
    }
}
/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width:550px) {

    .customer__info {
        font-size: 18px;
    }

    .nav__links {
        display: none;
    }

    h1 {
        font-size: 32px;
    }

    .plan__wrapper {
        width: 72%;
    }

    .subdetail, .subdetail2 {
        text-align: center;
    }

    .link {
        width: 100%;
    }

    .client__info{
        padding: 0 16px;
        display: flex;
        flex-direction: column;
    }
}

/* IPHONE 12 PRO */
@media (max-width:390px){

    h1, .price, .price2 {
        font-size: 20px; 
    }
    h1 {
        width: 90%;
    }
    p, .feature__para {
        font-size: 12px;
    }

    .client__detail{
        padding: 12px 0 0 ;
    }

    #values, #steps, #pricing, .header__container {
        padding-top: 32px;
        margin: 0;
    }
    .subheading3{
        line-height: 1;
    }
    .row {
        width: 80%;     
    }

    .purple__btn, .purple__btn--start, ::placeholder, .value__purple__btn {
        font-size: 12px;
    }

    .purple__btn, .purple__btn--start, .value__purple__btn {
        font-weight: 700;
    }

    #steps, #pricing, .header__container {
        padding-top: 16px;
    }   

    .screenshot {
        padding: 32px;
    }

    .links, .qualitywork__text, .screenshotwithborder, .header__img {
        padding: 0;
    }

    #features {
        padding: 0 32px;
    }
}